body,h1,h2,h3,p {
    margin:0;
    padding:0;
}

 



#header{
    background-color: #35424a;
    border-bottom: 3px solid coral;
}

#header h1 {
    color:#fff;
    font-family:sans-serif;
    padding: 15px 0;
    display: inline-block ;
}
    
#header .logo {
    color: coral;
}

.navbar {
    float: right;
}

.navbar li{
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    padding: 10px 15px ;
    display: inline-block;
}

.navbar li a:hover {
    color: coral;
}

.contener {
    width: 70%;
    margin:auto;
}

#baner {
 
    height: 60vh ;
    background-image: url(..//images/photo_2021-06-16_15-46-54.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color:cornflowerblue;
    font-family: sans-serif;
}

#baner h1 {
 font-size: 56px;
 margin-bottom:25px ;
 padding-top:150px ;
}

#nevsleter {
    background-color: #35424a;
    color: #fff;
    font-family: sans-serif;
    padding:20px 0;
    display: inline-block;
    width: 100%;
}

#nevsleter .left{
    float: left;
}

#nevsleter .right {
    float: right;
}


#nevsleter input  {
    padding: 5px;
}

.button{
    padding: 7px 15px ;
    border: none;
    background-color: cornflowerblue;
    color: #fff;
    margin-left: 5px;

}
    .button:hover {
        color: coral;
    }

    #courses {
        padding: 30px 0;
    }

    .box {
        width: 33.3%;
        float: left;
        text-align: center;
        font-family: sans-serif;
    }

    .box img {
        max-width: 100%;
        width: 60px;
    }

    .clr {
        clear: both;
    }

    #footer {
        padding: 30px 60px;
        text-align: center;
        background-color: coral;
        color: #fff;
       
    }


    .main {
        width: 65%;
        float: left;
    }

    .saidbar{
        width: 30%;
        float: right;
    }

    #about-us {
        margin: 50px 0;
        font-family: sans-serif;
    }

    .bg-dark {
        background-color: #32454a;
        color: #fff;
        padding: 15px;
    }


    .services-box {
        padding: 30px;
        margin:15px 0 ;
        background-color: #e5e5e5;
        border: 1px solid #555;
    }


    label {
         display: block;
         margin: 10px;
    }

    .input,textarea {
        width: 100%;
        padding: 10px 0;
    }

    .active {
        color: coral !important;
    }

    

   
    